<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/formation_php/todolist_php/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link href="/formation_php/todolist_php/public/assets/css/main.css" rel="stylesheet" >
        <title>Document Composer</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/formation_php/todolist_php/public/"><img src="/formation_php/todolist_php/src/img/logo_cci.png" alt="logo cci" width="100"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/formation_php/todolist_php/public/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/formation_php/todolist_php/public/task">Taches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/formation_php/todolist_php/public/task/show/plan">TaskBord</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/formation_php/todolist_php/public/contact">Contact</a>
                        </li>
                    </ul>
                    <form method ="POST" action="http://localhost/formation_php/todolist_php/public/task/search" class="d-flex" role="search">
                        
                        <input name="keyword" class="form-control me-2" type="search" placeholder="Search task" aria-label="keyword">
                        <button class="btn btn-outline-success" type="submit">Search task</button>
                    </form>
                    </div>
                </div>
            </nav>
        </header>
        {% block content %}     
        {% endblock %}
    <footer class="bg-dark text-white text-center p-1">
        <h3>Formation PHP</h3>
        <p>By Louis Gonzalez</p>
        <p>Copyright 2024</p>
    </footer>
    </body>
    
</html> 