{# On étend le fichier base ici, car dans base on a déclare des blocks #}
{% extends 'base.twig' %} 

{% block content %}
    <div class="text-center">
        <h1>Home Page</h1>
        <p>Hello {{ name }}</p>

            {% for task in tasks %}
                {{ task }}</li>
            {% endfor %}

    </div>
{% endblock %}




